.tabListItem,.tabListActive{
    border: 1px solid #AAA;
    width:100%;
}

.tabListItem{
    background-color:#888;
}
.tabListActive{
    background-color:#555;
}

.top{
    font-size: 25px;
    color: #00F1FB;  
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
.bottom{
    color: #FFF;  
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.divider{
    margin-bottom: 0;
}

ol{
    margin: 0;
}

@media screen and (max-width:500px){
    .top{
        font-size:5vw;
    }
    .bottom{
        font-size:3.5vw;
    }
}