p{
    margin-bottom:.7rem;
    text-indent: 10px;
    line-height:1.2rem;
}

.pane{
    display:flex;
    flex-direction:column;
}

.top{
    flex:1;
    background-color:maroon;
}

.middle{
    flex:2;
    background-color:gold;
    display:flex;
    padding: 2vh 2vw;
}

.bottom{
    flex: 1;
    background-color:maroon;
}

.uogLogoContainer{
    margin: auto 0;
}

.middleText{
    flex:2;
    font-size: 24px;
    margin: auto;
    line-height: 1.75rem;
    padding: 2vh 2vw;
}

.middleLogos{
    flex:1;
    display: flex;
}

/* ----------- Baseline ----------- */
@media only screen 
  and (max-width: 360px) { 
    .middleText > p{
        font-size: 5vw;
        line-height: 1rem;
    }
}

/* Portrait */
@media only screen 
  and (max-width: 360px) 
  and (orientation: portrait) { 
    .middleText > p{
        font-size: 5vw;
        line-height: 1rem;
    }
}

/* Landscape */
@media only screen 
  and (max-width: 360px) 
  and (orientation: landscape) { 
    .middleText > p{
        font-size: 4vw;
        line-height: 1rem;
    }
}
/* ----------- Phones ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 360px) 
  and (max-width: 768px) { 
    .middleText > p{
        font-size: 4vw;
        line-height: 1rem;
    }
}

/* Portrait */
@media only screen 
  and (min-width: 360px) 
  and (max-width: 768px) 
  and (orientation: portrait) { 
    .middleText > p{
        font-size: 4vw;
        line-height: 1rem;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 360px) 
  and (max-width: 768px) 
  and (orientation: landscape) { 
    .middleText > p{
        font-size: 4vh;
        line-height: 1rem;
    }
}

/* ----------- Tablets ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px){
    .middleText > p{
        font-size: 3vw;
        line-height: 1rem;
    }
}

/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait){
    .middleText > p{
        font-size: 3vw;
        line-height: 1.5rem;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape){
    .middleText > p{
        font-size: 3vh;
        line-height: 1rem;
    }
}
