// flex-grow
// flex-shrink
// flex-basis


div{
    flex: 1;
    min-height: 100%;
}
.pane{
    text-align: center;
    display: flex;
    background:rgb(0, 236, 253) url("../../images/splatter.png") right bottom no-repeat;
    background-size:90% auto;
}
.frame{
}
.title{
    font-size:60px;
    line-height: 6rem;
    margin: auto 60px;
    color:#000;
    text-align:left;
}

.nametag{

}