// flex-grow
// flex-shrink
// flex-basis


.pane{
    flex: 1;
    text-align: center;
    background-color: rgb(0,236,253);
    background-image: url("../../images/tile.jpg");
    background-size:33% auto;
    background-attachment: fixed;
    min-height: 100%;
    display: flex;
}
.title{
    font-size:60px;
    line-height: 6rem;
    margin-bottom:10vh;
    margin: auto 60px;
    color:white;
    text-align:left;
}

.nametag{
    // background-color:black;
}