@font-face{
    font-family: "NationalPark";
    src: url("../../fonts/NationalPark-Regular.otf") format("opentype");
}

.pane{
    flex: 1;
    text-align: center;
    background-color: rgb(0,236,253);
    background-image: url("../../images/tile.jpg");
    background-size:33% auto;
    background-attachment: fixed;
    min-height: 100%;
    display: flex;
}
.title{
    font-size:60px;
    line-height: 6rem;
    margin-bottom:10vh;
    margin: auto auto;
    color:white;
    text-align:left;
}

.nametag{
    // background-color:black;
    line-height:3rem;
    text-align:center;
    color:rgb(110, 83, 48);
    background-color: #111;
    padding:3vh 2vw;
    font-style: italic;
}