/*  SASS Markup for Header Component
    Jack Colvin
    June 3, 2019
*/


hr{
    padding:0;
    margin:0;
}

.footerContainer{
    position: absolute;
    bottom:0;
    min-width:100%;
    height: 2.5rem;
}